.editable-textarea {
  font-size: var(--custom-font-size, 13px);
  font-weight: 600;
  min-width: 2ch;
  color: var(--custom-font-color, black);
  margin-right: 8px;
  padding: 4px 6px;
  display: inline-block;
  white-space: nowrap;
  background: var(--glass);
  border: none;
  border-bottom: 2px solid var(--overlay);
  outline: none;

  border-radius: 6px 6px 0 0;

  text-shadow: 0 1px 2px var(--overlay);

  transition:
    border-color 0.2s ease,
    background 0.2s ease,
    opacity 0.2s ease;

  opacity: 0.85;
}

/* hover 状态 */
.editable-textarea:hover {
  background: var(--glass);
}

/* 聚焦高亮 */
.editable-textarea:focus {
  border-bottom-color: var(--focus-color);
  background: var(--bg-main);
  opacity: 1;
}
.bili-memo-tag {
  cursor: pointer;
  display: inline;
  vertical-align: middle;
  color: var(--custom-font-color, black);
  font-size: var(--custom-font-size, 13px);
}

.bili-memo-input {
  background: var(--bg-main);
  border: 1px solid var(--primary-color);
  font-size: var(--custom-font-size, 13px);
  padding: 0 4px;
  margin-left: 4px;
  border-radius: 4px;
  outline: none;
  width: var(--memo-input-width, 60px);
  display: inline-block;
  height: calc(var(--custom-font-size, 14px) + 6px);
  line-height: calc(var(--custom-font-size, 14px) + 6px);
  vertical-align: middle;
}

:host-context(.memo-container-dark-theme) .editable-textarea,
.memo-container-dark-theme .editable-textarea {
  background: var(--overlay);
  border-bottom-color: var(--glass);
  color: var(--custom-font-color, white);
}

:host-context(.memo-container-dark-theme) .editable-textarea:focus {
  background: var(--bg-sub);
  border-bottom-color: var(--primary-color);
}

:host-context(.memo-container-dark-theme) .bili-memo-input,
.memo-container-dark-theme .bili-memo-input {
  background: var(--bg-main);
  border-color: var(--primary-color);
  color: var(--text-main);
}
